/*
    colors
    a0997d light
    3f3f41 dark
    686456 dark light
    8c897b dark lighter
*/

body {
    background-color: #686456;
}

.ProfilePicContainer {
    background-image: url(../../assets/profilepic3.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 22.5vh;
    width: 22.5vh;
    border-radius: 2.5vh;
    margin: 0;
    padding: 0;
}

.items {
    margin: 0vh 2vh 1vh 2vh;
    font-size: 2vh;
    color: #a0997d;
}

.item:hover {
    color: #3f3f41;
}

.PrimaryInfo {
    margin: 1vh;
    height: 20.5vh;
}

.section {
    height: 5vh;
}

.Head {
    margin: 2vh;
}

hr {
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 0;
    border-top: 0.25vh solid rgba(0, 0, 0, 1);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #11d0d4;
}

h2 {
    text-decoration: none;
    font-weight: bold;
}

h3 {

    text-decoration: none;
    font-weight: bold;
}

img {
    height: inherit;
    margin: 3vh;
    filter: brightness(0%);
}

/*
style="filter: invert(48%) sepia(100%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/